CANTONESE_1680830E GDXSV_TEXTURE "Textures/Cantonese/Battle/1680830e.png"
CANTONESE_24F1B96B GDXSV_TEXTURE "Textures/Cantonese/Battle/24f1b96b.png"
CANTONESE_609BE9B9 GDXSV_TEXTURE "Textures/Cantonese/Battle/609be9b9.png"
CANTONESE_BBDA55FA GDXSV_TEXTURE "Textures/Cantonese/Battle/bbda55fa.png"
CANTONESE_BFE4BAF6 GDXSV_TEXTURE "Textures/Cantonese/Battle/bfe4baf6.png"
CANTONESE_D18F0718 GDXSV_TEXTURE "Textures/Cantonese/Battle/d18f0718.png"
CANTONESE_D4437F5C GDXSV_TEXTURE "Textures/Cantonese/Battle/d4437f5c.png"
CANTONESE_E1BF4AA GDXSV_TEXTURE "Textures/Cantonese/Battle/e1bf4aa.png"
CANTONESE_E80D8702 GDXSV_TEXTURE "Textures/Cantonese/Battle/e80d8702.png"
CANTONESE_2BE95FE0 GDXSV_TEXTURE "Textures/Cantonese/Network/2be95fe0.png"
CANTONESE_2BFAB929 GDXSV_TEXTURE "Textures/Cantonese/Network/2bfab929.png"
CANTONESE_340C6C1C GDXSV_TEXTURE "Textures/Cantonese/Network/340c6c1c.png"
CANTONESE_485B40A3 GDXSV_TEXTURE "Textures/Cantonese/Network/485b40a3.png"
CANTONESE_4C74D396 GDXSV_TEXTURE "Textures/Cantonese/Network/4c74d396.png"
CANTONESE_5AF09998 GDXSV_TEXTURE "Textures/Cantonese/Network/5af09998.png"
CANTONESE_66896873 GDXSV_TEXTURE "Textures/Cantonese/Network/66896873.png"
CANTONESE_97253A71 GDXSV_TEXTURE "Textures/Cantonese/Network/97253a71.png"
CANTONESE_AB4D3E6D GDXSV_TEXTURE "Textures/Cantonese/Network/ab4d3e6d.png"
CANTONESE_E6B04D7D GDXSV_TEXTURE "Textures/Cantonese/Network/e6b04d7d.png"
CANTONESE_EC38951A GDXSV_TEXTURE "Textures/Cantonese/Network/ec38951a.png"
CANTONESE_148F2D9E GDXSV_TEXTURE "Textures/Cantonese/Opening/148f2d9e.png"
CANTONESE_14CDE346 GDXSV_TEXTURE "Textures/Cantonese/Opening/14cde346.png"
CANTONESE_4AC5C2B1 GDXSV_TEXTURE "Textures/Cantonese/Opening/4ac5c2b1.png"
CANTONESE_59D8625D GDXSV_TEXTURE "Textures/Cantonese/Opening/59d8625d.png"
CANTONESE_7B0D5DB2 GDXSV_TEXTURE "Textures/Cantonese/Opening/7b0d5db2.png"
CANTONESE_90235DC GDXSV_TEXTURE "Textures/Cantonese/Opening/90235dc.png"
CANTONESE_B2DEB5BC GDXSV_TEXTURE "Textures/Cantonese/Opening/b2deb5bc.png"
CANTONESE_B382E31A GDXSV_TEXTURE "Textures/Cantonese/Opening/b382e31a.png"
CANTONESE_C04D0A5 GDXSV_TEXTURE "Textures/Cantonese/Opening/c04d0a5.png"
CANTONESE_CBF2DC49 GDXSV_TEXTURE "Textures/Cantonese/Opening/cbf2dc49.png"
CANTONESE_D8964B4C GDXSV_TEXTURE "Textures/Cantonese/Opening/d8964b4c.png"
CANTONESE_DEBB16E7 GDXSV_TEXTURE "Textures/Cantonese/Opening/debb16e7.png"
CANTONESE_F0DB5FC2 GDXSV_TEXTURE "Textures/Cantonese/Opening/f0db5fc2.png"
CANTONESE_FA369EE8 GDXSV_TEXTURE "Textures/Cantonese/Opening/fa369ee8.png"
CANTONESE_11FD34B0 GDXSV_TEXTURE "Textures/Cantonese/StoryMode/11fd34b0.png"
CANTONESE_2FD737DA GDXSV_TEXTURE "Textures/Cantonese/StoryMode/2fd737da.png"
CANTONESE_30D1CED6 GDXSV_TEXTURE "Textures/Cantonese/StoryMode/30d1ced6.png"
CANTONESE_456B6392 GDXSV_TEXTURE "Textures/Cantonese/StoryMode/456b6392.png"
CANTONESE_55CC86F9 GDXSV_TEXTURE "Textures/Cantonese/StoryMode/55cc86f9.png"
CANTONESE_8E93E07 GDXSV_TEXTURE "Textures/Cantonese/StoryMode/8e93e07.png"
CANTONESE_92905E19 GDXSV_TEXTURE "Textures/Cantonese/StoryMode/92905e19.png"
CANTONESE_9AF562C0 GDXSV_TEXTURE "Textures/Cantonese/StoryMode/9af562c0.png"
CANTONESE_A75CBC45 GDXSV_TEXTURE "Textures/Cantonese/StoryMode/a75cbc45.png"
CANTONESE_A8D66488 GDXSV_TEXTURE "Textures/Cantonese/StoryMode/a8d66488.png"
CANTONESE_B2233D45 GDXSV_TEXTURE "Textures/Cantonese/StoryMode/b2233d45.png"
CANTONESE_D0CBF7FD GDXSV_TEXTURE "Textures/Cantonese/StoryMode/d0cbf7fd.png"
COMMONUPSCALE_42E332E9 GDXSV_TEXTURE "Textures/CommonUpscale/Network/42e332e9.png"
COMMONUPSCALE_7B392E27 GDXSV_TEXTURE "Textures/CommonUpscale/Network/7b392e27.png"
ENGLISH_1680830E GDXSV_TEXTURE "Textures/English/Battle/1680830e.png"
ENGLISH_24F1B96B GDXSV_TEXTURE "Textures/English/Battle/24f1b96b.png"
ENGLISH_609BE9B9 GDXSV_TEXTURE "Textures/English/Battle/609be9b9.png"
ENGLISH_BBDA55FA GDXSV_TEXTURE "Textures/English/Battle/bbda55fa.png"
ENGLISH_BFE4BAF6 GDXSV_TEXTURE "Textures/English/Battle/bfe4baf6.png"
ENGLISH_D18F0718 GDXSV_TEXTURE "Textures/English/Battle/d18f0718.png"
ENGLISH_D4437F5C GDXSV_TEXTURE "Textures/English/Battle/d4437f5c.png"
ENGLISH_E1BF4AA GDXSV_TEXTURE "Textures/English/Battle/e1bf4aa.png"
ENGLISH_E80D8702 GDXSV_TEXTURE "Textures/English/Battle/e80d8702.png"
ENGLISH_2BE95FE0 GDXSV_TEXTURE "Textures/English/Network/2be95fe0.png"
ENGLISH_2BFAB929 GDXSV_TEXTURE "Textures/English/Network/2bfab929.png"
ENGLISH_340C6C1C GDXSV_TEXTURE "Textures/English/Network/340c6c1c.png"
ENGLISH_485B40A3 GDXSV_TEXTURE "Textures/English/Network/485b40a3.png"
ENGLISH_4C74D396 GDXSV_TEXTURE "Textures/English/Network/4c74d396.png"
ENGLISH_5AF09998 GDXSV_TEXTURE "Textures/English/Network/5af09998.png"
ENGLISH_66896873 GDXSV_TEXTURE "Textures/English/Network/66896873.png"
ENGLISH_97253A71 GDXSV_TEXTURE "Textures/English/Network/97253a71.png"
ENGLISH_AB4D3E6D GDXSV_TEXTURE "Textures/English/Network/ab4d3e6d.png"
ENGLISH_C0ED65BF GDXSV_TEXTURE "Textures/English/Network/c0ed65bf.png"
ENGLISH_E6B04D7D GDXSV_TEXTURE "Textures/English/Network/e6b04d7d.png"
ENGLISH_EC38951A GDXSV_TEXTURE "Textures/English/Network/ec38951a.png"
ENGLISH_148F2D9E GDXSV_TEXTURE "Textures/English/Opening/148f2d9e.png"
ENGLISH_14CDE346 GDXSV_TEXTURE "Textures/English/Opening/14cde346.png"
ENGLISH_4AC5C2B1 GDXSV_TEXTURE "Textures/English/Opening/4ac5c2b1.png"
ENGLISH_59D8625D GDXSV_TEXTURE "Textures/English/Opening/59d8625d.png"
ENGLISH_7B0D5DB2 GDXSV_TEXTURE "Textures/English/Opening/7b0d5db2.png"
ENGLISH_86E3851D GDXSV_TEXTURE "Textures/English/Opening/86e3851d.png"
ENGLISH_90235DC GDXSV_TEXTURE "Textures/English/Opening/90235dc.png"
ENGLISH_B2DEB5BC GDXSV_TEXTURE "Textures/English/Opening/b2deb5bc.png"
ENGLISH_B382E31A GDXSV_TEXTURE "Textures/English/Opening/b382e31a.png"
ENGLISH_C04D0A5 GDXSV_TEXTURE "Textures/English/Opening/c04d0a5.png"
ENGLISH_CBF2DC49 GDXSV_TEXTURE "Textures/English/Opening/cbf2dc49.png"
ENGLISH_D8964B4C GDXSV_TEXTURE "Textures/English/Opening/d8964b4c.png"
ENGLISH_DEBB16E7 GDXSV_TEXTURE "Textures/English/Opening/debb16e7.png"
ENGLISH_F0DB5FC2 GDXSV_TEXTURE "Textures/English/Opening/f0db5fc2.png"
ENGLISH_FA369EE8 GDXSV_TEXTURE "Textures/English/Opening/fa369ee8.png"
ENGLISH_11FD34B0 GDXSV_TEXTURE "Textures/English/StoryMode/11fd34b0.png"
ENGLISH_2FD737DA GDXSV_TEXTURE "Textures/English/StoryMode/2fd737da.png"
ENGLISH_30D1CED6 GDXSV_TEXTURE "Textures/English/StoryMode/30d1ced6.png"
ENGLISH_456B6392 GDXSV_TEXTURE "Textures/English/StoryMode/456b6392.png"
ENGLISH_55CC86F9 GDXSV_TEXTURE "Textures/English/StoryMode/55cc86f9.png"
ENGLISH_8E93E07 GDXSV_TEXTURE "Textures/English/StoryMode/8e93e07.png"
ENGLISH_92905E19 GDXSV_TEXTURE "Textures/English/StoryMode/92905e19.png"
ENGLISH_9AF562C0 GDXSV_TEXTURE "Textures/English/StoryMode/9af562c0.png"
ENGLISH_A75CBC45 GDXSV_TEXTURE "Textures/English/StoryMode/a75cbc45.png"
ENGLISH_A8D66488 GDXSV_TEXTURE "Textures/English/StoryMode/a8d66488.png"
ENGLISH_B2233D45 GDXSV_TEXTURE "Textures/English/StoryMode/b2233d45.png"
ENGLISH_D0CBF7FD GDXSV_TEXTURE "Textures/English/StoryMode/d0cbf7fd.png"
JAPANESE_485B40A3 GDXSV_TEXTURE "Textures/Japanese/Network/485b40a3.png"
JAPANESE_4C74D396 GDXSV_TEXTURE "Textures/Japanese/Network/4c74d396.png"
