[submodule "core/deps/SDL"]
	path = core/deps/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "core/deps/libchdr"]
	path = core/deps/libchdr
	url = https://github.com/flyinghead/libchdr.git
[submodule "core/deps/luabridge"]
	path = core/deps/luabridge
	url = https://github.com/vinniefalco/LuaBridge.git
[submodule "core/deps/breakpad"]
	path = core/deps/breakpad
	url = https://github.com/flyinghead/mingw-breakpad
[submodule "core/deps/Vulkan-Headers"]
	path = core/deps/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "core/deps/VulkanMemoryAllocator"]
	path = core/deps/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "core/deps/glslang"]
	path = core/deps/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "core/deps/oboe"]
	path = core/deps/oboe
	url = https://github.com/google/oboe.git
