.DS_Store
*.class
*.orig

bin/
gen/
obj/

newdc/android/libnewdc/bin/libnewdc.jar
newdc/android/libnewdc/bin/classes/com/example/newdc/JNIdc.class

shell/android/assets/build

# iOS/Xcode general stuff
.DS_Store
*/build/*
**/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
emulator.xccheckout
reicast.xccheckout
build/*
*.so
*Karen_angelXwind*
local.properties
ant.properties
*build_obj
Workdir/data
Workdir/reicast*
Workdir/vmu*
Workdir/webui*
Workdir/emu.cfg
Workdir/lib*ant.properties

# Linux stuff
shell/linux/.map
shell/linux/nosym-reicast.elf
shell/linux/reicast.elf

reicast-ios.xccheckout

# Android Studio
.gradle
.idea
*.iml
.externalNativeBuild
shell/android-studio/app/src/main/assets/build
