build/
artifact/

# macOS
.DS_Store
shell/apple/emulator-ios/OpenMP/OpenMP.xcframework

# Visual Studio
.vs/
.vscode/
out/

# JetBrains IDES
.idea/
cmake-build-*/

# Dependencies from .gitmodules
core/deps/breakpad/
core/deps/glslang/
