name: Xbox, UWP

on:
  push:
    branches-ignore:
      - 'l10n_**'
  pull_request:

jobs:
  build:
    name: UWP
    runs-on: windows-latest

    strategy:
      matrix:
        arch: [ Win32, x64, ARM64 ]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: CMake
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release -G "Visual Studio 17 2022" -A ${{ matrix.arch }} -DCMAKE_SYSTEM_NAME=WindowsStore -DCMAKE_SYSTEM_VERSION=10.0.22000.0
          cmake --build build --config Release -- /m
        shell: cmd

      - uses: ilammy/msvc-dev-cmd@v1

      - name: Package app
        run: |
          mkdir build\artifact
          cd build\AppPackages\flycast\flycast_*_Test
          mkdir tmp
          ren *.msix flycast.msix
          makeappx.exe unpack /p .\flycast.msix /d tmp
          copy ..\..\..\Release\*.dll tmp
          makeappx pack /d tmp /p ..\..\..\artifact\flycast.appx

      - name: Sign app
        run: signtool sign /f shell\uwp\sign_cert.pfx /p '${{ secrets.SIGN_CERT_PWD }}' /v /fd SHA256 build\artifact\flycast.appx
        if: github.repository == 'flyinghead/flycast' && github.event_name == 'push'

      - uses: actions/upload-artifact@v6
        with:
          name: flycast-uwp-${{ matrix.arch }}
          path: build/artifact

      - name: Setup Rclone
        uses: AnimMouse/setup-rclone@v1
        with:
          rclone_config: ${{ secrets.RCLONE_CONFIG }}

      - name: Upload to S3
        run: rclone copy build/artifact scaleway:flycast-builds/xbox/${GITHUB_REF#refs/}-$GITHUB_SHA
        shell: bash
        if: github.repository == 'flyinghead/flycast' && github.event_name == 'push' && matrix.arch == 'x64'
